header {
    background-color: darkblue;
    height: 15%;
}

html,body { 
	color: lightgray;
    height:100%; 
}

#breadcrumb {
    float: top;
    background-color: darkgreen;
    height: 8%;
}

#articles {
	color: lightgray;
    background-color: black;
	border: solid;
    vertical-align: top;
    width: 79.5%;
    height: 100%;
    float: left;
}



#menu {
    float: top;
    background-color: darkred;
    width: 100%;
    height: 10%;
}

.article {
    width: 100%;
    float: bottom;
}

.blog_entry {
    float: bottom;
}

#blog {
    background-color: brown;
    float: right;
    height: 100%;
    width: 20%;
}

footer {
    position: fixed; 
    bottom: 0;
    background-color: purple;
    height: 5%;
    width: 100%;
}
